.hero {
    position: relative;
    background: url(../img/hero/bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    z-index: 1;
    &::before{
        position: absolute;
        content: "";
        top:0;
        left: 0;
        background-color:rgba(0, 0, 0, 0.3);
        z-index: -1;
        height: 100%;
        width: 100%;
    }
    &__row {
        justify-content: space-between;
        align-items: center;
        height: 100%;

    }

    &__title {
        @include font(64px, 160%)
    }
    &__descriotuon{
        @include font(24px, 140%)
    }
    &__btn {

    }

    &__item {
        box-sizing: border-box;
        padding: 30px 0 30px 40px;
        max-width: 255px;
        height: 148px;
        @include flexbox;
        @include font(21px, 130%, -0.01em, none, 500);
        flex-direction: column;
        margin: 0 30px 30px 0;
        &:nth-child(1){
            background-color: #2378FC;
    }
        &:nth-child(2){
            background-color: #30BCC9;
            margin-right: 0;
        } 
        &:nth-child(3){
            background-color: #FFC41E;

    }
        &:nth-child(4){
            background-color: #F6404F;
            margin-right: 0;
        }  
        &__title{
            text-align: left;
        }
        &__btn{

        }
    }

}